// COLORS

$first-color: #272343;
$second-color: #838383;
$third-color: #ffffff;
$fourth-color: #010c80;

// SIZE

$small-size: 1.1rem;
$small-size-2: 1.3rem;
$default-size: 1.55rem;
$big-size: 3rem;
$bigger-size: 4.5rem;

// FONT-WEIGHT

$weight-medium: 400;
$weight-big: 500;
$weight-bigger: 550;
