@import "/src/styles/variables";
@import "/src/styles/mixins";

mat-expansion-panel {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 85rem;
  border: 0.1rem solid #e0e2e7;
  border-radius: 2px;
  background-color: $third-color;
  padding: 1.5rem;
  &:not(.mat-expanded) {
    box-shadow: none;
  }
  @include respond(phone) {
    width: 45rem;
    padding: 0;
  }
}

.mat-expansion-panel {
  box-shadow: none !important;
}

.results {
  padding: 2rem 3rem 2rem;
  display: flex;
  align-items: flex-start;
  @include respond(phone) {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
}

.data-container {
  display: flex;
  align-items: stretch;
  gap: 2.5rem;
  width: 75%;
  padding: 2rem;
  @include respond(phone) {
    width: 100%;
    border-bottom: 0.1rem solid #e0e2e7;
  }
  .data {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    width: 29%;
    @include respond(phone) {
      width: 25%;
    }
    &__code {
      font-size: $bigger-size;
      font-weight: $weight-big;
      color: $first-color;
    }
    &__country {
      color: $second-color;
      font-size: $small-size;
    }
    &__divider {
      letter-spacing: 0.2rem;
      padding-bottom: 2rem;
      color: $second-color;
      @include respond(phone) {
        padding: 0;
        font-size: $small-size;
      }
    }
  }
}

.footprint {
  display: flex;
  flex-direction: column;
  border-left: 0.1rem solid #e0e2e7;
  @include respond(phone) {
    border: none;
  }
  &__container {
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: space-around;
    padding: 1rem 3rem;
  }

  &__title {
    color: $first-color;
    display: inline-block;
    width: 35%;

    font-size: $small-size;
    font-weight: $weight-big;
  }

  &__data {
    font-size: $bigger-size;
    font-weight: $weight-big;
    color: $first-color;
    display: flex;
    flex-direction: column;
    &--unit {
      color: $second-color;
      font-size: $small-size;
      padding: 0.5rem;
    }
  }
}

button {
  position: absolute;
  bottom: 0;
  transform: translate(0%, -70%);
  @include respond(phone) {
    position: static;
    transform: translate(0%, 0%);
  }
}
