@import "/src/styles/mixins";
@import "/src/styles/variables";
.main {
  position: relative;
}
.hero {
  background-image: url("https://images.unsplash.com/photo-1530122706536-c80ca06b2aad?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  text-align: center;
  margin: 0 3rem;
  height: 84vh;
  position: relative;
  display: flex;
  align-items: center;
  padding: 15rem;

  @include respond(tab-port) {
    height: 90vh;
    padding-top: 35rem;
  }
  @include respond(phone) {
    height: 85vh;
    padding: 4rem;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 10, 125, 0.3);
  }

  &__title {
    color: white;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
  }

  &__desc {
    color: white;
    font-size: $default-size;
  }

  &__content {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }
}

.btn-container {
  background-color: white;
  border-radius: 5px;
  width: 50%;
}

button {
  width: 100%;
  @include respond(tab-land) {
    font-size: $small-size-2;
  }
}
