<form #myForm class="form" [formGroup]="dataForm">
  <div class="form__inputs">
    <div class="drop-container">
      <label class="form__label" for="partenza">Partenza:</label>
      <input
        class="form__input"
        type="text"
        id="partenza"
        name="partenza"
        formControlName="partenza"
        required
        autocomplete="off"
      />
      <div
        class="dropdown"
        *ngIf="
          filteredAirports['partenza'] &&
          filteredAirports['partenza'].length > 0
        "
      >
        <div
          *ngFor="let airport of filteredAirports['partenza']"
          (click)="selectAirport('partenza', airport)"
        >
          {{ airport.name }} ({{ airport.code }})
        </div>
      </div>
    </div>

    <div class="drop-container">
      <label class="form__label" for="arrivo">Destinazione:</label>
      <input
        class="form__input"
        type="text"
        id="destinazione"
        name="destinazione"
        formControlName="destinazione"
        required
        autocomplete="off"
      />
      <div
        class="dropdown"
        *ngIf="
          filteredAirports['destinazione'] &&
          filteredAirports['destinazione'].length > 0
        "
      >
        <div
          *ngFor="let airport of filteredAirports['destinazione']"
          (click)="selectAirport('destinazione', airport)"
        >
          {{ airport.name }} ({{ airport.code }})
        </div>
      </div>
    </div>

    <div>
      <label class="form__label" for="classe">Classe:</label>
      <select
        class="form__input select"
        name="classe"
        id="classe"
        formControlName="classe"
        required
      >
        <option value="economy">Economy</option>
        <option value="business">Business</option>
        <option value="first">First</option>
      </select>
    </div>

    <div class="passengers">
      <label class="form__label" for="passeggeri">Passeggeri:</label>
      <div class="passengers__content">
        <button class="passengers-button" type="button" (click)="decrement()">
          -
        </button>
        <input
          class="form__input--number"
          type="number"
          value="1"
          id="passeggeri"
          formControlName="passeggeri"
          readonly
          required
        />
        <button class="passengers-button" type="button" (click)="increment()">
          +
        </button>
      </div>
    </div>
  </div>
  <button
    mat-raised-button
    class="submit"
    type="submit"
    [disabled]="!dataForm.valid"
    (click)="onSubmit()"
  >
    Calcola
  </button>
</form>

<div *ngIf="errore" class="errore">
  <mat-card>
    <mat-card-content
      ><span>Si è verificato un errore.</span>
      <button mat-stroked-button (click)="chiudiErrore()">
        Riprova
      </button></mat-card-content
    >
  </mat-card>
</div>
