@import "/src/styles/variables";
@import "/src/styles/mixins";

.nav {
  background-color: $third-color;
  display: flex;
  align-items: center;

  .logo {
    padding: 2rem 2rem 2rem 3rem;
    width: 27rem;
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20rem;
    list-style: none;
    font-size: $default-size;
    font-weight: $weight-medium;
    padding: $default-size;

    @include respond(tab-port) {
      gap: 13rem;
    }
    @include respond(phone) {
      display: none;
    }
  }

  &__link {
    text-decoration: none;
    color: $second-color;
  }
}

.nav-mobile {
  mat-icon {
    color: $fourth-color;
  }
  @include respond(big-desktop) {
    display: none;
  }

  @include respond(phone) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
  }
}
